.git
.github
**/node_modules
**/dist
**/.pytest_cache
**/__pycache__
**/*.pyc
android/.gradle
android/**/build
*.zip

**/.runtime
**/review-output
**/.ruff_cache
**/.env
**/.env.*
!**/.env.example
android
docs
